# Dependencies
node_modules/
.pnpm-store/

# Build Output
dist/
build/
out/

# Environment variables & secrets
.env
.env.*
!.env.example

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ensure required clean dataset CSVs are included
!data/googleplaystore_clean.csv
!dashboard/public/data/googleplaystore_clean.csv
